async-generator
attrs
Automat
certifi1
cffi
charset-normalizer2
constantly
cryptography2
cssselect
filelock
h11
hyperlink
idnancremental
itemadapter
itemloaders
jmespath
lxml
oauthlib
outcome
parsel
Protego
pyasn1
pyasn1-modules
pycparserPyDispatcher
pyOpenSSL
PySocks
queuelib
requests
requests-file
requests-oauthlib
Scrapy
selenium
service-identity
six
sniffio
sortedcontainers
tldextract
trio
trio-websocket
tweepy
Twisted
twisted-iocpsupport
typing_extensions
urllib39
w3lib
wsproto
zope.interface
